<h1><%= @question.title %></h1>
<%= markdown(@question.description) %>
Posted by <%= @user.username %> on <%= @question.created_at %>

<% if current_user == @user %>
  <%= button_to "Edit", edit_question_path(@question), method: :get %>
  <%= button_to "Delete", @question, method: :delete %>
<% end %>
<h3>Answers:</h3>

<% if @selected_answer %>
  <div class="accepted-answer">
    <%= markdown(@selected_answer.body) %>
  </div>
<% end %>

<% @answers.each do |answer| %>
    <div class="answer">
      <%= markdown(answer.body) %>
      <% if !@selected_answer && current_user == @user %>
        <%= button_to "Accept Answer", answer, method: :patch %>
      <% end %>
    </div>
<% end %>

<h4>Submit an Answer:</h4>
<%= form_for([@question, @answer]) do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, size: '50x10'%>

    <% if @answer.errors %>
      <ul>
      <% @answer.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
