<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Home', questions_path %>
    <% if current_user %>
      Signed in as <%= current_user.username %> <%= link_to 'Sign Out', signout_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', "/auth/github" %>
    <% end %>
    <%= yield %>
  </body>
</html>
